.slide {
  background-image: url( 'assets/gradient-top-small.png' );
  background-position: left top;
  background-repeat: repeat-x;
}

/*
#preso {
  background-image: url( 'assets/gradient-top.png' );
  background-position: left top;
  background-repeat: repeat-x;
}


.slide {
  background-image: url( 'assets/gradient-bottom.png' );
  background-position: left bottom;
  background-repeat: repeat-x;
}
*/
